{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href={% static "css/footer.css" %}>
</head>
<body>


    <footer class="footer">

        <div class="top">
            <p> Back to top</p>
        </div>

        <div class="footer_main">
                <div class="footer_column">
                <h3>Get to Know Us</h3>

                <a href="#">About Amazon</a>
                <a href="#">Careers</a>
                <a href="#">Press Releases</a>
                <a href="#">Amazon Science</a>
            </div>

            <div class="footer_column">
                <h3>Connect with Us</h3>

                <a href="#">Facebook</a>
                <a href="#">Twitter</a>
                <a href="#">Instagram</a>
            </div>

            <div class="footer_column">
                <h3>Make Money with Us</h3>

                <a href="#">Sell on Amazon</a>
                <a href="#">Sell under Amazon Accelerator</a>
                <a href="#">Protect and Build Your Brand</a>
                <a href="#">Amazon Global Selling</a>
                <a href="#">Supply to Amazon</a>
                <a href="#">Become an Affiliate</a>
                <a href="#">Fulfilment by Amazon</a>
                <a href="#">Advertise Your Products</a>
                <a href="#">Amazon Pay on Merchants</a>
            </div>

            <div class="footer_column">
                <h3>Let Us Help You</h3>

                <a href="#">Your Account</a>
                <a href="#">Returns Centre</a>
                <a href="#">Recalls and Product Safety Alerts</a>
                <a href="#">100% Purchase Protection</a>
                <a href="#">Amazon App Download</a>
                <a href="#">Help</a>
            </div>

        </div>


        <div class="footer_bottom">

            <div class="bottom_content">

                <div class="amazon_logo">
                    <img src="{% static "image/a1.png" %}" alt="">
                </div>

                <div class="language">
                    <i class="fa-solid fa-globe"></i>
                    <select name="" id="">
                        <option value="en">English - EN</option>
                        <option value="hi">हिन्दी - HI</option>
                        <option value="ta">தமிழ் - TA</option>
                        <option value="te">తెలుగు - TE</option>
                        <option value="kn">ಕನ್ನಡ - KN</option>
                        <option value="ml">മലയാളം - ML</option>
                        <option value="bn">বাংলা - BN</option>
                        <option value="mr">मराठी - MR</option>
                    </select>
                </div>

                <div class="country">
                    <select name="" id="">
                        <option value="IN">🇮🇳 India</option>
                        <option value="UK">🇬🇧 UK</option>
                        <option value="US">🇺🇸 US</option>
                    </select>
                </div>

            </div>

        </div>

        <div class="footer_bottom_2">
            <div class="brands">
                <div class="brand_item">
                    <p>AbeBooks</p>
                    <span>Books, art<br>&amp; collectibles</span>
                </div>
                <div class="brand_item">
                    <p>Amazon Web Services</p>
                    <span>Scalable Cloud<br>Computing Services</span>
                </div>
                <div class="brand_item">
                    <p>Audible</p>
                    <span>Download<br>Audio Books</span>
                </div>
                <div class="brand_item">
                    <p>IMDb</p>
                    <span>Movies, TV<br>&amp; Celebrities</span>
                </div>
                <div class="brand_item">
                    <p>Shopbop</p>
                    <span>Designer<br>Fashion Brands</span>
                </div>
                <div class="brand-item">
                    <p>Amazon Business</p>
                    <span>Everything For<br>Your Business</span>
                </div>
                <div class="brand_item">
                    <p>Amazon Music</p>
                    <span>Stream millions of<br>songs</span>
                </div>
            </div>
        
            <div class="legal">
                <div class="legal_links">
                    <span>Conditions of Use &amp; Sale</span>
                    <span>Privacy Notice</span>
                    <span>Interest-Based Ads</span>
                </div>
                <p>© 1996-2026, Amazon.com, Inc. or its affiliates</p>
            </div>
        </div>

    </footer>
</body>
</html>