{% load static %}

<div class="subnav">
    <div class="nav1">

        <div class="hamburger">
            <i onclick="show_side_bar()" class="fa-solid fa-bars"></i>
            <p>All</p>
        </div>

        <div class="home_nav">
            <div class="fresh">
                <p>Fresh</p>
            </div>
            <div>
                <p>Amazon Pay</p>
            </div>
            <div>
                <p>Mobile</p>
            </div>
            <div>
                <p>Today's Deals</p>
            </div>
            <div>
                <p>Coupons</p>
            </div>
            <div>
                <p>Flights</p>
            </div>
            <div>
                <p>Electronics</p>
            </div>
            <div>
                <p>Computers</p>
            </div>
            <div>
                <p>New Releases</p>
            </div>
            <div>
                <p>Bestsellers</p>
            </div>
            <div>
                <p>Video Games</p>
            </div>
        </div>

    </div>
    <div class="nav2">
        <div class="sale">
            <i class="fa-solid fa-star"></i>
            <p>Great Indian Festival | Shop early deals now</p>
            <i class="fa-solid fa-chevron-right"></i>
        </div>
    </div>
</div>